<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.order.SellerOrderMapper">

    <!--订单列表-->
    <select id="findByCondition" resultType="com.kunlun.entity.OrderExt">
        SELECT
        torder.id,
        torder.seller_id,
        torder.user_id,
        torder.order_no,
        torder.order_status,
        torder.create_date,
        torder.good_snapshot_id,
        torder.pay_date,
        torder.good_fee,
        torder.payment_fee
        FROM t_order torder
        LEFT JOIN t_good_snapshot tgs ON tgs.id=torder.good_snapshot_id
        WHERE 1=1
        AND torder.seller_id=#{sellerId}
        <if test="searchKey!=null">AND
            CONCAT_WS('',torder.good_name,torder.post_code,torder.address,torder.phone,torder.recipients) LIKE
            #{searchKey}
        </if>
        <if test="payType!=null and payType!=''">AND torder.pay_type =#{payType}</if>
        <if test="orderType!=null and orderType!=''">AND torder.order_type =#{orderType}</if>
        <if test="orderStatus!=null and orderStatus!=''">AND torder.order_status =#{orderStatus}</if>
        <if test="phone!=null and phone!=''">AND torder.phone =#{phone}</if>
        <if test="orderNo!=null and orderNo!=''">AND torder.order_no =#{orderNo}</if>
        <if test="startDate!=null and endDate!=null">AND torder.create_date BETWEEN #{startDate} AND #{endDate}</if>
        <if test="startDate==null and endDate!=null">AND torder.create_date BETWEEN '1970-01-01' AND #{endDate}</if>
        <if test="startDate!=null and endDate==null">AND torder.create_date BETWEEN #{startDate} AND now()</if>
    </select>

    <!--根据id查询订单详情-->
    <select id="findById" resultType="com.kunlun.entity.Order">
        SELECT
        id,
        seller_id,
        user_id,
        order_no,
        good_snapshot_id,
        delivery_no,
        delivery_id,
        order_status,
        order_type,
        pay_type,
        message,
        recipients,
        phone,
        province,
        city,
        area,
        address,
        post_code,
        good_name,
        count,
        wx_order_no,
        create_date,
        pay_date,
        delivery_date,
        good_id,
        use_ticket,
        ticket_id,
        prepay_id,
        remark,
        refund_date,
        update_date,
        freight_fee,
        good_fee,
        payment_fee,
        reduce_fee,
        order_fee,
        refund_fee,
        send_good_id,
        operate_point,
        use_point
        FROM t_order
        WHERE id=#{id}
    </select>

    <!--修改订单-->
    <update id="modify" parameterType="com.kunlun.entity.Order">
        UPDATE t_order SET
        <if test="deliveryId!=null">delivery_id=#{deliveryId},</if>
        <if test="orderStatus!=null">order_status=#{orderStatus},</if>
        <if test="message!=null">message=#{message},</if>
        <if test="reduceFee!=null">reduce_fee=#{reduceFee},</if>
        <if test="paymentFee!=null">payment_fee=#{paymentFee},</if>
        <if test="goodFee!=null">good_fee=#{goodFee},</if>
        <if test="freightFee!=null">freight_fee=#{freightFee},</if>
        <if test="deliveryDate!=null">delivery_date=#{deliveryDate},</if>
        <if test="recipients!=null">recipients=#{recipients},</if>
        <if test="phone!=null">phone=#{phone},</if>
        <if test="province!=null">province=#{province},</if>
        <if test="city!=null">city=#{city},</if>
        <if test="area!=null">area=#{area},</if>
        <if test="address!=null">address=#{address},</if>
        <if test="postCode!=null">post_code=#{postCode},</if>
        <if test="count!=null">count=#{count},</if>
        <if test="remark!=null">remark=#{remark},</if>
        <if test="sendGoodId!=null">send_good_id=#{sendGoodId},</if>
        <if test="useTicket!=null">use_ticket=#{useTicket},</if>
        <if test="ticketId!=null">ticket_id=#{ticketId},</if>
        <if test="deliveryNo!=null">delivery_no=#{deliveryNo},</if>
        <if test="usePoint!=null">use_point=#{usePoint},</if>
        update_date=now()
        WHERE id=#{id}
    </update>
</mapper>